<div class="worldInfoRecommender_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>World Info Recommender</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div style="margin-top: 10px">
                <div class="title_restorable">
                    <span>Main Context Template</span>
                    <button
                        id="worldInfoRecommender_restoreMainContextTemplateDefault"
                        class="menu_button fa-solid fa-undo interactable"
                        title="Restore main context template to default"
                    ></button>
                </div>
                <select
                    id="worldInfoRecommender_mainContextTemplatePreset"
                    class="text_pole"
                    title="Select Main Context Template to Edit"
                ></select>
                <div id="worldInfoRecommender_mainContextList"></div>
            </div>

            <hr style="margin: 10px 0" />

            <div style="margin-top: 10px">
                <div class="title_restorable">
                    <span>Prompt Templates</span>
                    <button
                        id="worldInfoRecommender_restoreSystemPromptDefault"
                        class="menu_button fa-solid fa-undo interactable"
                        title="Restore selected prompt to default"
                    ></button>
                </div>
                <select
                    id="worldInfoRecommender_systemPromptPreset"
                    class="text_pole"
                    title="Select System Prompt to Edit"
                ></select>
                <textarea
                    id="worldInfoRecommender_systemPromptContent"
                    class="text_pole textarea_compact"
                    placeholder="Edit the selected system prompt template here..."
                    rows="6"
                    style="margin-top: 5px"
                ></textarea>
            </div>

            <hr style="margin: 15px 0" />

            <div style="text-align: center; margin-top: 15px">
                <button id="worldInfoRecommender_resetEverything" class="menu_button danger_button" style="width: auto">
                    <i style="margin-right: 10px" class="fa-solid fa-triangle-exclamation"></i> I messed up, reset
                    everything
                </button>
            </div>
        </div>
    </div>
</div>
