<div class="worldInfoRecommender_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>World Info Recommender Settings</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="stWorldInfoPrompt">
                <div class="title_restorable">
                    <span>ST/World Info Definition</span>
                    <button
                        class="menu_button fa-solid fa-undo interactable restore_default"
                        data-i18n="[title]Restore default"
                        title="Restore default"
                    ></button>
                </div>
                <textarea class="text_pole textarea_compact" placeholder="ST/World Info Definition" rows="4"></textarea>
            </div>
            <div class="lorebookDefinitionPrompt" style="margin-top: 10px">
                <div class="title_restorable">
                    <span>Lorebook Definition</span>
                    <button
                        class="menu_button fa-solid fa-undo interactable restore_default"
                        data-i18n="[title]Restore default"
                        title="Restore default"
                    ></button>
                </div>
                <textarea class="text_pole textarea_compact" placeholder="Response Rules" rows="4"></textarea>
            </div>
            <div class="lorebookRulesPrompt" style="margin-top: 10px">
                <div class="title_restorable">
                    <span>Lorebook Rules</span>
                    <button
                        class="menu_button fa-solid fa-undo interactable restore_default"
                        data-i18n="[title]Restore default"
                        title="Restore default"
                    ></button>
                </div>
                <textarea class="text_pole textarea_compact" placeholder="Response Rules" rows="4"></textarea>
            </div>
            <div class="responseRulesPrompt" style="margin-top: 10px">
                <div class="title_restorable">
                    <span title="Don't touch XML parts unless you know what you're doing">Response Rules</span>
                    <button
                        class="menu_button fa-solid fa-undo interactable restore_default"
                        data-i18n="[title]Restore default"
                        title="Restore default"
                    ></button>
                </div>
                <textarea class="text_pole textarea_compact" placeholder="Response Rules" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>
